<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>

            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!--class="modal-open"-->
<div class="container theme-showcase" role="main" [ng-class]="modal.bodyClass">

    <!--notes-->
    <h2>notes</h2>

    <ul class="notes">
        <li *ng-for="#note of notes; #i=index" class="">
            <note-item [note]="note"></note-item>
        </li>
    </ul>


    <!-- end notes-->
    <div class="jumbotron">
        <!--  search-->
        <div>
            <label class="label label-success">Search</label>
            <input type="text" (keyup)="search(searchTerm)" [(ng-model)]="searchTerm" placeholder="Search" />

            <span *ng-for="#type of types">
                <input type="checkbox" (click)="toggleTypeFilter(type)" /> {{type.name}}
            </span>
        </div>

        <!-- end search-->

        <button type="button" class="btn btn-success" (click)="addItem( $event,'newItemNames')">Add new item</button>

        <div *ng-if="addingNew">
            <h2>New item details!</h2>
            <div>
                <label>name: </label>
                <input [(ng-model)]="newItem.name" placeholder="name" />
            </div>
            <div>
                <label>type: </label>
                <select [(ng-model)]="newItem.itemType.id" (change)="newItemTypeChange($event)">
                    <option value="0">
                        Select a type
                    </option>
                    <option *ng-for="#type of types" value="{{type.id}}">{{type.name}}</option>
                </select>
            </div>
            <button type="button" class="btn btn-success" (click)="SaveNewItem(newItem)" #newItemName>Save</button>
            <button type="button" class="btn btn-danger" (click)="cancel( )">cancel</button>
        </div>
        <br />

        <span class="label label-warning">{{'Remaining items:'+ (remainingItemsCount)}}</span>

        <div *ng-if="selectedItem">
            <h2>{{selectedItem.name}} details!</h2>
            <div>
                <label>id: </label>{{selectedItem.id}}
            </div>
            <div>
                <label>name: </label>
                <input [(ng-model)]="selectedItem.name" (focusout)="updateName(selectedItem)" placeholder="name" />
            </div>
            <div>
                <label>type: </label>
                <select [(ng-model)]="selectedItem.itemType.id" (change)="changeSelectedItemType($event)">
                    <option *ng-for="#type of types" value="{{type.id}}">{{type.name}}</option>
                </select>
            </div>
        </div>

        <h2>ToDo</h2>
        <ul class="itemes">
            <li *ng-for="#item of unDoneItems; #i=index" class="" [ng-class]="getSelectedClass(item)">
                <input type="checkbox" (change)="onChange(item)" [(ng-model)]="item.isDone" title="Mark as done" />
                <span class="label pointer" (click)="onSelect(item)" [ng-class]="setClass(item)">{{item.name}}</span>
                <span class="label label-warning">{{item.itemType.name}}</span>
            </li>
        </ul>
        <hr />
        <h2>Done</h2>
        <ul class="itemes">
            <li *ng-for="#item of doneItems; #i=index" class="" (click)="onSelect(item)" [ng-class]="getSelectedClass(item)">
                <input type="checkbox" (change)="onChange(item)" [(ng-model)]="item.isDone" title="Mark as done" />
                <span class="label completed" [ng-class]="setClass(item)">{{item.name}}</span>
                <span class="label label-warning">{{item.itemType.name}}</span>
            </li>
        </ul>

    </div>

    <button type="button" class="btn btn-danger" (click)="openModal()">Open</button>
    <!--END jumbotron-->
    <!-- Modal -->

    <div class="modal-dialog">
        <!--<div class="modal fade in" id="myModal" role="dialog" style="display: block;">-->
        <div id="myModal" class="modal fade" role="dialog" [ng-class]="modal.modalClass" [style.display]="modal.modelDisplay">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
                        <h4 class="modal-title">{{modal.modalHeader}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{modal.modalBody}}</p>

                        <div [style.display]="modal.promtDisplay">
                            <input type="text" [(ng-model)]="modal.promptResult" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" [style.display]="modal.cancelButtonDisplay" (click)="modal.cancelModal()">Cancel</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.hideModal()">OK</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="modal-backdrop fade in" [style.display]="modal.backDropDisplay"></div>
        <!--END Modal -->
    </div>


</div>
<!--END main-->
